Repository Fujicracy/fuji-v2, pull requests merged in 2022-10, with the labels that each got.

#36 Yield Vault
  .github/workflows/test_contracts.yml
  packages/protocol/foundry.toml
  packages/protocol/sample.env
  packages/protocol/src/abstracts/BaseVault.sol
  packages/protocol/src/interfaces/beefy/IBeefyUniV2ZapVelodrome.sol
  packages/protocol/src/interfaces/beefy/IBeefyVaultV6.sol
  packages/protocol/src/interfaces/velodrome/IVelodromePair.sol
  packages/protocol/src/interfaces/velodrome/IVelodromeRouter.sol
  packages/protocol/src/providers/optimism/BeefyVelodromesETHETHOptimism.sol
  packages/protocol/src/vaults/VaultPermissions.sol
  packages/protocol/src/vaults/borrowing/BorrowingVault.sol
  packages/protocol/src/vaults/yield/YieldVault.sol
  packages/protocol/test/optimism/Vault.t.sol
  packages/protocol/test/utils/Console.sol
  packages/protocol/test/utils/DSTestPlus.sol
Labels: Smart Contracts

#69 Borrow responsive
  packages/frontend/components/Borrow.tsx
  packages/frontend/components/Borrow/Borrow.tsx
  packages/frontend/components/Borrow/CollateralDropdown.tsx
  packages/frontend/components/Borrow/CurrencyCard.tsx
  packages/frontend/components/Borrow/LTVProgressBar.tsx
  packages/frontend/components/Borrow/Overview.tsx
  packages/frontend/components/Borrow/PreviewTransaction.tsx
  packages/frontend/components/Borrow/SelectTokenCard.tsx
  packages/frontend/components/Layout/BurgerMenuIcon.tsx
  packages/frontend/components/Layout/ClickableTooltip.tsx
  packages/frontend/components/Layout/DiscordIcon.tsx
  packages/frontend/components/Layout/Footer.tsx
  packages/frontend/components/Layout/Header.tsx
  packages/frontend/components/Layout/Parameters.tsx
  packages/frontend/components/Overview.tsx
  packages/frontend/components/Theming/Theming.tsx
  packages/frontend/pages/_app.tsx
  packages/frontend/pages/borrow.tsx
  packages/frontend/pages/index.tsx
  packages/frontend/pages/theming.tsx
  packages/frontend/public/assets/images/protocol-icons/networks/Binance.svg
  packages/frontend/public/assets/images/protocol-icons/networks/Ethereum.svg
  packages/frontend/public/assets/images/protocol-icons/networks/Fantom.svg
  packages/frontend/public/assets/images/protocol-icons/networks/Optimism.svg
  packages/frontend/public/assets/images/protocol-icons/networks/Polygon.svg
  packages/frontend/public/assets/images/protocol-icons/networks/Potcoin.svg
  packages/frontend/styles/components/Borrow.module.css
  packages/frontend/styles/globals.css
  packages/frontend/styles/theme.ts
Labels: Front End

#70 Streams
  .github/test_sdk.yml
  .github/workflows/test_sdk.yml
  packages/sdk/.eslintrc.json
  packages/sdk/.gitignore
  packages/sdk/README.md
  packages/sdk/package.json
  packages/sdk/src/Sdk.ts
  packages/sdk/src/constants/rpcs.ts
  packages/sdk/src/entities/AbstractCurrency.ts
  packages/sdk/src/entities/BorrowingVault.ts
  packages/sdk/src/entities/ChainConnection.ts
  packages/sdk/src/entities/Config.ts
  packages/sdk/src/entities/NativeCurrency.ts
  packages/sdk/src/entities/StreamManager.ts
  packages/sdk/src/entities/Token.ts
  packages/sdk/src/entities/index.ts
  packages/sdk/src/types/ChainConfig.ts
  packages/sdk/src/types/ConfigParams.ts
  packages/sdk/src/types/index.ts
  packages/sdk/test/Sdk.test.ts
  packages/sdk/test/entities/BorrowingVault.test.ts
  yarn.lock
Labels: Sdk

#76 Slither
  packages/protocol/README.md
  packages/protocol/foundry.toml
  packages/protocol/remappings.txt
  packages/protocol/remappings_hardhat.txt
  packages/protocol/slither.config.json
  packages/protocol/src/abstracts/BaseRouter.sol
  packages/protocol/src/flashloans/goerli/Flasher.sol
  packages/protocol/src/helpers/Unwrapper.sol
  packages/protocol/src/interfaces/IRouter.sol
  packages/protocol/src/interfaces/IUnwrapper.sol
  packages/protocol/src/providers/goerli/AaveV3Goerli.sol
  packages/protocol/src/providers/mainnet/AaveV2.sol
  packages/protocol/src/providers/rinkeby/AaveV3Rinkeby.sol
  packages/protocol/src/vaults/VaultPermissions.sol
  packages/protocol/src/vaults/borrowing/BorrowingVaultFactory.sol
  packages/protocol/test/ConnextRouterTestsSuite.sol
  packages/protocol/test/SimpleRouter.t.sol
Labels: Smart Contracts

#91 Pending Tx FlyOut
  packages/frontend/components/Borrow/Borrow.tsx
  packages/frontend/components/Borrow/CollateralDropdown.tsx
  packages/frontend/components/Borrow/CurrencyCard.tsx
  packages/frontend/components/Borrow/LTVProgressBar.tsx
  packages/frontend/components/Borrow/Overview.tsx
  packages/frontend/components/Borrow/PreviewTransaction.tsx
  packages/frontend/components/Borrow/SelectTokenCard.tsx
  packages/frontend/components/Borrow/TransactionProcessingModal.tsx
  packages/frontend/components/Borrow/TransactionSummary.tsx
  packages/frontend/components/Form/ChainSelect.tsx
  packages/frontend/components/Form/CustomSelect.tsx
  packages/frontend/components/Layout/AccountModal.tsx
  packages/frontend/components/Layout/Footer.tsx
  packages/frontend/components/Layout/Header.tsx
  packages/frontend/pages/borrow.tsx
  packages/frontend/public/assets/images/logo/connext-title.svg
  packages/frontend/public/assets/images/logo/connext.svg
  packages/frontend/store/auth.slice.ts
  packages/frontend/store/index.ts
  packages/frontend/store/transaction.slice.ts
  packages/frontend/styles/components/Borrow.module.css
  packages/frontend/styles/theme.ts
Labels: Front End

#79 Synpress tests
  packages/frontend/.gitignore
  packages/frontend/README.md
  packages/frontend/components/Header.tsx
  packages/frontend/package.json
  packages/frontend/synpress.json
  packages/frontend/tests/e2e/.eslintrc.json
  packages/frontend/tests/e2e/specs/metamask-spec.ts
  packages/frontend/tests/e2e/support.js
  packages/frontend/tests/e2e/tsconfig.json
  packages/frontend/tsconfig.json
  yarn.lock
Labels: Front End

#98 Fuzzing liquidation factor
  packages/protocol/src/abstracts/BaseVault.sol
  packages/protocol/src/vaults/borrowing/BorrowingVault.sol
  packages/protocol/test/Vault.t.sol
Labels: Bug

#100 OZ Timelock
  packages/protocol/src/Chief.sol
  packages/protocol/src/access/CoreRoles.sol
  packages/protocol/src/access/Timelock.sol
  packages/protocol/test/AccessControl.t.sol
  packages/protocol/test/SimpleRouter.t.sol
  packages/protocol/test/Vault.t.sol
  packages/protocol/test/VaultAccessControl.t.sol
  packages/protocol/test/VaultPausable.t.sol
  packages/protocol/test/VaultPermissions.t.sol
  packages/protocol/test/mainnet/aaveV2/Provider.t.sol
  packages/protocol/test/mainnet/compoundV3/Provider.t.sol
  packages/protocol/test/optimism/Vault.t.sol
  packages/protocol/test/utils/Setup.sol
Labels: Smart Contracts

#92 Vault fuzz tests
  packages/protocol/src/abstracts/BaseVault.sol
  packages/protocol/src/flashloans/goerli/Flasher.sol
  packages/protocol/src/helpers/AddrMapper.sol
  packages/protocol/src/interfaces/IAddrMapper.sol
  packages/protocol/src/mocks/MockAddrMapper.sol
  packages/protocol/src/providers/optimism/BeefyVelodromesETHETHOptimism.sol
  packages/protocol/src/vaults/VaultPermissions.sol
  packages/protocol/src/vaults/borrowing/BorrowingVault.sol
  packages/protocol/test/AccessControl.t.sol
  packages/protocol/test/SimpleRouter.t.sol
  packages/protocol/test/Vault.t.sol
Labels: Smart Contracts
