Repository Fujicracy/fuji-v2, pull requests merged in 2023-08, with the labels that each got.

#691 Baserouter issue withdraw called twice
  packages/protocol/src/abstracts/BaseRouter.sol
  packages/protocol/test/mocking/routers/ConnextRouter.t.sol
Labels: Bug, Smart Contracts

#692 Post-Lending issues
  packages/frontend/components/Shared/Table/IntegratedProviders.tsx
Labels: Front End

#693 Restrict amounts when bridging to Ethereum
  packages/frontend/components/Borrow/Button.tsx
  packages/frontend/components/Lending/Button.tsx
  packages/frontend/components/Shared/Operation/OperationButton.tsx
  packages/frontend/constants/common.ts
  packages/frontend/helpers/assets.ts
Labels: Front End

#695 Disable wstETH bridging
  packages/frontend/helpers/currencies.ts
  packages/sdk/src/constants/currencies.ts
  packages/sdk/src/constants/index.ts
Labels: Front End

#700 Design changes
  packages/frontend/components/App/Header/Header.tsx
  packages/frontend/components/Borrow/Wrapper.tsx
  packages/frontend/components/Lending/Button.tsx
  packages/frontend/components/Lending/Lending.tsx
  packages/frontend/components/Positions/EmptyState.tsx
  packages/frontend/components/Shared/AddTokenButton.tsx
  packages/frontend/components/Shared/Operation/OperationButton.tsx
  packages/frontend/components/Shared/Operation/VaultSelect/Vault.tsx
  packages/frontend/components/Shared/Operation/VaultSelect/VaultSelect.tsx
  packages/frontend/pages/404.tsx
  packages/frontend/pages/500.tsx
  packages/frontend/pages/index.tsx
  packages/frontend/pages/my-positions.tsx
  packages/frontend/styles/theme.ts
Labels: Front End

#705 Add functions for Compound Migrator
  packages/protocol/src/interfaces/compoundV2/ICERC20.sol
  packages/protocol/src/interfaces/compoundV2/ICETH.sol
Labels: Smart Contracts

#702 VaultSelect infinite loading fixed
  packages/frontend/components/Lending/Button.tsx
  packages/frontend/components/Lending/Form.tsx
  packages/frontend/components/Lending/LendingDetails.tsx
  packages/frontend/components/Shared/Operation/FormAssetBox/CurrencyCard.tsx
  packages/frontend/components/Shared/Operation/VaultSelect/VaultSelect.tsx
  packages/frontend/helpers/currencies.ts
  packages/frontend/store/types/actions.ts
Labels: Front End

#694 Strategic growth vaults
  packages/frontend/components/App/Header/AccountModal/HistoryItem.tsx
  packages/frontend/components/Borrow/Button.tsx
  packages/frontend/components/Borrow/Form.tsx
  packages/frontend/components/Shared/Operation/FormAssetBox/CurrencyCard.tsx
  packages/frontend/components/Shared/Operation/VaultSelect/VaultSelect.tsx
  packages/frontend/components/Shared/TabSwitch/TabSwitch.tsx
  packages/frontend/public/assets/images/protocol-icons/providers/Compound V2.svg
  packages/frontend/public/assets/images/protocol-icons/providers/Compound V3.svg
  packages/frontend/public/assets/images/protocol-icons/tokens/GHO.svg
  packages/frontend/public/assets/images/protocol-icons/tokens/GNO.svg
  packages/frontend/public/assets/images/protocol-icons/tokens/cbETH.svg
  packages/frontend/public/assets/images/protocol-icons/tokens/rETH.svg
  packages/frontend/store/borrow.store.ts
  packages/frontend/store/lend.store.ts
  packages/protocol/deploy-configs/arbitrum.json
  packages/protocol/deploy-configs/ethereum.json
  packages/protocol/deploy-configs/gnosis.json
  packages/protocol/deploy-configs/optimism.json
  packages/protocol/deploy-configs/polygon.json
  packages/protocol/deployments/arbitrum/BorrowingVault-RETHWETH-1
  packages/protocol/deployments/arbitrum/BorrowingVault-WSTETHWETH-1
  packages/protocol/deployments/arbitrum/BorrowingVault-WSTETHWETH-2
  packages/protocol/deployments/arbitrum/YieldVault-DAI-1
  packages/protocol/deployments/arbitrum/YieldVault-USDT-1
  packages/protocol/deployments/ethereum/BorrowingVault-CBWETHWETH-1
  packages/protocol/deployments/ethereum/BorrowingVault-RETHWETH-1
  packages/protocol/deployments/ethereum/BorrowingVault-WSTETHGHO-1
  packages/protocol/deployments/ethereum/BorrowingVault-WSTETHWETH-1
  packages/protocol/deployments/ethereum/YieldVault-DAI-1
  packages/protocol/deployments/ethereum/YieldVault-USDT-1
  packages/protocol/deployments/gnosis/BorrowingVault-WSTETGNO-1
  packages/protocol/deployments/gnosis/YieldVault-USDT-1
  packages/protocol/deployments/gnosis/YieldVault-WXDAI-1
  packages/protocol/deployments/optimism/BorrowingVault-RETHUSDC-1
  packages/protocol/deployments/optimism/BorrowingVault-RETHWETH-1
  packages/protocol/deployments/optimism/BorrowingVault-WSTETHWETH-1
  packages/protocol/deployments/optimism/YieldVault-DAI-1
  packages/protocol/deployments/optimism/YieldVault-USDT-1
  packages/protocol/deployments/polygon/YieldVault-DAI-1
  packages/protocol/deployments/polygon/YieldVault-USDT-1
  packages/protocol/script/RunEthereum.s.sol
  packages/protocol/script/ScriptPlus.s.sol
  packages/sdk/src/constants/addresses.ts
  packages/sdk/src/constants/lending-providers.ts
  packages/sdk/src/constants/tokens.ts
  packages/sdk/src/constants/vaults.ts
Labels: Smart Contracts, Sdk

#699 Aave v3 efficiency mode
  packages/protocol/deploy-configs/arbitrum.json
  packages/protocol/deploy-configs/ethereum.json
  packages/protocol/deploy-configs/goerli.json
  packages/protocol/deploy-configs/optimism.json
  packages/protocol/deploy-configs/polygon.json
  packages/protocol/deployments/arbitrum/AaveEModeHelper
  packages/protocol/deployments/arbitrum/Aave_V3_Arbitrum_Emode
  packages/protocol/deployments/ethereum/AaveEModeHelper
  packages/protocol/deployments/ethereum/Aave_V3_Emode
  packages/protocol/deployments/goerli/AaveEModeHelper
  packages/protocol/deployments/goerli/Aave_V3_Goerli
  packages/protocol/deployments/optimism/AaveEModeHelper
  packages/protocol/deployments/optimism/Aave_V3_Optimism_Emode
  packages/protocol/deployments/polygon/AaveEModeHelper
  packages/protocol/deployments/polygon/Aave_V3_Polygon_Emode
  packages/protocol/script/RunArbitrum.s.sol
  packages/protocol/script/RunEthereum.s.sol
  packages/protocol/script/RunGoerli.s.sol
  packages/protocol/script/RunOptimism.s.sol
  packages/protocol/script/RunPolygon.s.sol
  packages/protocol/script/ScriptPlus.s.sol
  packages/protocol/src/interfaces/aaveV3/IV3Pool.sol
  packages/protocol/src/providers/AaveEModeHelper.sol
  packages/protocol/src/providers/AaveV3Common.sol
  packages/protocol/src/providers/arbitrum/AaveV3Arbitrum.sol
  packages/protocol/src/providers/goerli/AaveV3Goerli.sol
  packages/protocol/src/providers/mainnet/AaveV3.sol
  packages/protocol/src/providers/optimism/AaveV3Optimism.sol
  packages/protocol/src/providers/polygon/AaveV3Polygon.sol
  packages/protocol/test/forking/goerli/ConnextRouterVaultIntegration.t.sol
Labels: Smart Contracts

#716 Default lending vault
  packages/frontend/components/Shared/Operation/VaultSelect/VaultSelect.tsx
  packages/frontend/store/lend.store.ts
Labels: Front End

#707 Spark lending provider
  packages/frontend/public/assets/images/protocol-icons/providers/Morpho Aave V2.svg
  packages/frontend/public/assets/images/protocol-icons/providers/Morpho Aave V3.svg
  packages/frontend/public/assets/images/protocol-icons/providers/Morpho Compound.svg
  packages/frontend/public/assets/images/protocol-icons/providers/Spark sDAI.svg
  packages/frontend/public/assets/images/protocol-icons/tokens/sDAI.svg
  packages/frontend/public/assets/images/protocol-icons/tokens/wxDAI.svg
  packages/protocol/deploy-configs/ethereum.json
  packages/protocol/deployments/ethereum/FlasherBalancer
  packages/protocol/deployments/ethereum/RebalancerManager
  packages/protocol/deployments/ethereum/Spark
  packages/protocol/deployments/ethereum/SparkEModeHelper
  packages/protocol/deployments/ethereum/SparkSavingsDai
  packages/protocol/deployments/ethereum/YieldVault-DAI-2
  packages/protocol/script/RunEthereum.s.sol
  packages/protocol/script/ScriptPlus.s.sol
  packages/protocol/src/interfaces/makerdao/IPot.sol
  packages/protocol/src/providers/mainnet/Spark.sol
  packages/protocol/src/providers/mainnet/SparkSavingsDai.sol
  packages/protocol/test/forking/ForkingSetup.sol
  packages/protocol/test/forking/mainnet/Spark.t.sol
  packages/protocol/test/forking/mainnet/SparkSavingsDai.t.sol
  packages/sdk/src/constants/lending-providers.ts
  packages/sdk/src/constants/vaults.ts
Labels: Smart Contracts

#725 Remove performance tracking
  packages/frontend/helpers/errors.ts
Labels: Front End

#721 UI issues
  packages/frontend/components/App/Header/SocialMenuWrapper.tsx
  packages/frontend/components/Borrow/Overview/Details.tsx
  packages/frontend/components/Borrow/Overview/Overview.tsx
  packages/frontend/components/Borrow/Overview/Summary/SummaryCardItem.tsx
  packages/frontend/components/Borrow/Wrapper.tsx
  packages/frontend/components/Markets/Markets.tsx
  packages/frontend/components/Markets/MarketsTable.tsx
  packages/frontend/components/Positions/MyPositions.tsx
  packages/frontend/components/Positions/MyPositionsTable.tsx
  packages/frontend/components/Shared/AprValue.tsx
  packages/frontend/components/Shared/Operation/VaultSelect/VaultSelect.tsx
Labels: Front End

#720 Frontend cache for llamas
  packages/frontend/helpers/cache.ts
  packages/frontend/helpers/markets.tsx
  packages/frontend/helpers/vaults.ts
  packages/sdk/src/Sdk.ts
  packages/sdk/src/functions/index.ts
  packages/sdk/src/functions/llamaFinancials.ts
  packages/sdk/src/types/LlamaResponses.ts
  packages/sdk/src/types/index.ts
Labels: Front End, Sdk
