Repository Fujicracy/fuji-v2, pull requests merged in 2023-04, with the labels that each got.

#424 Connext tx details
  packages/sdk/src/Nxtp.ts
  packages/sdk/src/Sdk.ts
  packages/sdk/src/enums/ConnextTxStatus.ts
  packages/sdk/src/enums/index.ts
  packages/sdk/src/types/ConnextTxDetails.ts
  packages/sdk/src/types/index.ts
Labels: Sdk

#313 Liquidation Manager
  packages/protocol/src/Chief.sol
  packages/protocol/src/LiquidationManager.sol
  packages/protocol/src/interfaces/IChief.sol
  packages/protocol/src/interfaces/ILiquidationManager.sol
  packages/protocol/src/mocks/MockSwapper.sol
  packages/protocol/src/vaults/borrowing/BorrowingVault.sol
  packages/protocol/test/forking/ForkingSetup.sol
  packages/protocol/test/forking/polygon/LiquidationManagerPolygon.t.sol
  packages/protocol/test/mocking/vaults/VaultLiquidation.t.sol
Labels: Smart Contracts

#402 Before token transfer blocking liquidations
  packages/protocol/src/abstracts/BaseVault.sol
  packages/protocol/src/vaults/borrowing/BorrowingVault.sol
  packages/protocol/src/vaults/yield/YieldVault.sol
  packages/protocol/test/mocking/vaults/Vault.t.sol
Labels: Smart Contracts

#416 Sdk error handling
  packages/frontend/components/Markets/MarketsTable.tsx
  packages/frontend/helpers/balances.ts
  packages/frontend/helpers/borrow.ts
  packages/frontend/helpers/chains.ts
  packages/frontend/helpers/positions.ts
  packages/frontend/helpers/routing.ts
  packages/frontend/helpers/values.ts
  packages/frontend/store/borrow.store.ts
  packages/frontend/store/history.store.ts
  packages/frontend/store/positions.store.ts
  packages/frontend/tsconfig.json
  packages/sdk/src/Nxtp.ts
  packages/sdk/src/Previews.ts
  packages/sdk/src/Sdk.ts
  packages/sdk/src/constants/errors.ts
  packages/sdk/src/constants/index.ts
  packages/sdk/src/entities/Address.ts
  packages/sdk/src/entities/FujiError.ts
  packages/sdk/src/entities/index.ts
  packages/sdk/src/enums/ConnextTxStatus.ts
  packages/sdk/src/enums/index.ts
  packages/sdk/src/functions/batchLoad.ts
  packages/sdk/src/functions/encodeActionArgs.ts
  packages/sdk/src/functions/index.ts
  packages/sdk/src/functions/validateAndParseAddress.ts
  packages/sdk/src/types/ConnextTxDetails.ts
  packages/sdk/src/types/FujiResult.ts
  packages/sdk/src/types/index.ts
  packages/sdk/test/Sdk.test.ts
Labels: Front End, Sdk

#436 Token card input highlight and autofocus first
  packages/frontend/components/Borrow/Borrow.tsx
  packages/frontend/components/Borrow/Box/Box.tsx
  packages/frontend/components/Borrow/Box/TokenCard.tsx
Labels: Front End

#397 Maxltv and liqratio into borrowing vault constructor
  packages/protocol/src/vaults/borrowing/BorrowingVault.sol
  packages/protocol/src/vaults/borrowing/BorrowingVaultFactory.sol
  packages/protocol/test/forking/ForkingSetup.sol
  packages/protocol/test/forking/mainnet/CompoundV3.t.sol
  packages/protocol/test/forking/polygon/SimpleRouter.t.sol
  packages/protocol/test/mocking/MockingSetup.sol
  packages/protocol/test/mocking/routers/SimpleRouter.t.sol
  packages/protocol/test/mocking/vaults/Vault.t.sol
  packages/protocol/test/mocking/vaults/VaultFactoryDeployment.t.sol
  packages/protocol/test/mocking/vaults/VaultPausable.t.sol
  packages/protocol/test/mocking/vaults/VaultRebalancing.t.sol
  packages/protocol/test/simulations/AttackDoubleDeposits.sol
Labels: Smart Contracts

#412 Internal v2 testing
  packages/frontend/components/Borrow/AllowanceModal.tsx
  packages/frontend/components/Borrow/Borrow.tsx
  packages/frontend/components/Borrow/Box/Box.tsx
  packages/frontend/components/Borrow/Box/ChainSelect.tsx
  packages/frontend/components/Borrow/Box/TokenCard.tsx
  packages/frontend/components/Borrow/Button.tsx
  packages/frontend/components/Borrow/Fees.tsx
  packages/frontend/components/Borrow/Header.tsx
  packages/frontend/components/Borrow/Overview/Details.tsx
  packages/frontend/components/Borrow/Overview/LTVProgressBar.tsx
  packages/frontend/components/Borrow/Overview/Overview.tsx
  packages/frontend/components/Borrow/Overview/Summary/Summary.tsx
  packages/frontend/components/Borrow/Overview/Summary/SummaryCardItem.tsx
  packages/frontend/components/Borrow/Overview/VaultsMenu.tsx
  packages/frontend/components/Borrow/Routing/RoutingModal.tsx
  packages/frontend/components/Borrow/TransactionModal.tsx
  packages/frontend/components/Borrow/Wrapper.tsx
  packages/frontend/components/Markets/MarketsTableRow.tsx
  packages/frontend/components/Positions/LiquidationBox.tsx
  packages/frontend/components/Positions/MyPositionsBorrowTable.tsx
  packages/frontend/components/Shared/AccountModal.tsx
  packages/frontend/components/Shared/AddTokenButton.tsx
  packages/frontend/components/Shared/ChainSelect.tsx
  packages/frontend/components/Shared/Footer.tsx
  packages/frontend/components/Shared/Header/Header.tsx
  packages/frontend/components/Shared/SlippageSettings.tsx
  packages/frontend/components/Shared/TabChip.tsx
  packages/frontend/components/Shared/Tooltips/DocsTooltip.tsx
  packages/frontend/constants/asset.ts
  packages/frontend/helpers/assets.ts
  packages/frontend/helpers/chains.ts
  packages/frontend/helpers/metamask.ts
  packages/frontend/helpers/navigation.ts
  packages/frontend/helpers/positions.ts
  packages/frontend/helpers/routing.ts
  packages/frontend/helpers/values.ts
  packages/frontend/package.json
  packages/frontend/pages/_app.tsx
  packages/frontend/pages/borrow.tsx
  packages/frontend/public/assets/images/shared/arrowBack.svg
  packages/frontend/store/auth.store.ts
  packages/frontend/store/borrow.store.ts
  packages/frontend/store/history.store.ts
  packages/frontend/store/positions.store.ts
  packages/sdk/src/entities/BorrowingVault.ts
  yarn.lock
Labels: Front End

#398 Fix Liquidation with assets under 18 decimals
  packages/protocol/src/vaults/borrowing/BorrowingVault.sol
  packages/protocol/test/forking/polygon/LiquidationManagerPolygon.t.sol
  packages/protocol/test/mocking/vaults/VaultLiquidation.t.sol
Labels: Smart Contracts

#442 Do not change vault when editing
  packages/frontend/components/Borrow/Box/Box.tsx
Labels: Front End

#439 Show error notifications
  packages/frontend/components/Borrow/Routing/RouteCard.tsx
  packages/frontend/components/Borrow/TransactionModal.tsx
  packages/frontend/components/Markets/Markets.tsx
  packages/frontend/components/Markets/MarketsTable.tsx
  packages/frontend/components/Positions/MyPositionsSummary.tsx
  packages/frontend/components/Shared/AccountModal.tsx
  packages/frontend/components/Shared/AddTokenButton.tsx
  packages/frontend/components/Shared/Notification/index.tsx
  packages/frontend/constants/index.ts
  packages/frontend/constants/notifications.ts
  packages/frontend/helpers/notifications.tsx
  packages/frontend/pages/borrow.tsx
  packages/frontend/store/auth.store.ts
  packages/frontend/store/borrow.store.ts
  packages/frontend/store/history.store.ts
  packages/frontend/store/positions.store.ts
  packages/frontend/styles/theme.ts
Labels: Front End

#434 Transaction confirmation modal
  packages/frontend/.lintstagedrc.json
  packages/frontend/components/Borrow/Borrow.tsx
  packages/frontend/components/Borrow/Box/TokenCard.tsx
  packages/frontend/components/Borrow/Button.tsx
  packages/frontend/components/Borrow/Overview/Overview.tsx
  packages/frontend/components/Borrow/Wrapper.tsx
  packages/frontend/components/Positions/PositionYieldTable.tsx
  packages/frontend/components/Shared/ConfirmTransactionModal.tsx
  packages/frontend/components/Shared/ConfirmationTransaction/AssetBox.tsx
  packages/frontend/components/Shared/ConfirmationTransaction/InfoRow.tsx
  packages/frontend/components/Shared/ConfirmationTransaction/RouteBox.tsx
  packages/frontend/components/Shared/LTVWarningModal.tsx
  packages/frontend/components/Shared/TabChip.tsx
  packages/frontend/helpers/assets.ts
  packages/frontend/helpers/routing.ts
  packages/frontend/public/assets/images/shared/arrowRight.svg
  packages/frontend/public/assets/images/shared/doubleArrow.svg
  packages/frontend/styles/theme.ts
Labels: Front End

#445 Header navigation styles changed
  packages/frontend/components/Shared/Header/Header.tsx
Labels: Front End

#447 UI fixes #2
  packages/frontend/components/Borrow/Button.tsx
  packages/frontend/components/Borrow/TransactionModal.tsx
  packages/frontend/components/Markets/MarketsTableRow.tsx
  packages/frontend/components/Positions/MyPositionsBorrowTable.tsx
  packages/frontend/components/Shared/AddTokenButton.tsx
  packages/frontend/components/Shared/Table/ExtraTableSpace.tsx
Labels: Front End

#440 Transaction updates
  packages/frontend/components/Borrow/Box/TokenCard.tsx
  packages/frontend/components/Borrow/Button.tsx
  packages/frontend/components/Borrow/TransactionModal.tsx
  packages/frontend/components/Markets/Markets.tsx
  packages/frontend/components/Markets/MarketsTable.tsx
  packages/frontend/components/Markets/MarketsTableRow.tsx
  packages/frontend/components/Positions/MyPositions.tsx
  packages/frontend/components/Positions/MyPositionsBorrowTable.tsx
  packages/frontend/components/Positions/MyPositionsSummary.tsx
  packages/frontend/components/Shared/AccountModal.tsx
  packages/frontend/components/Shared/AddTokenButton.tsx
  packages/frontend/components/Shared/ConfirmTransactionModal.tsx
  packages/frontend/components/Shared/Header/BalanceAddon.tsx
  packages/frontend/components/Shared/Lending.tsx
  packages/frontend/components/Shared/Notification.tsx
  packages/frontend/components/Shared/ParameterLinks.tsx
  packages/frontend/components/Shared/Table/ExtraTableSpace.tsx
  packages/frontend/constants/common.ts
  packages/frontend/constants/notifications.ts
  packages/frontend/helpers/errors.ts
  packages/frontend/helpers/history.ts
  packages/frontend/helpers/metamask.ts
  packages/frontend/helpers/notifications.tsx
  packages/frontend/helpers/transactions.ts
  packages/frontend/pages/_app.tsx
  packages/frontend/pages/lend.tsx
  packages/frontend/store/borrow.store.ts
  packages/frontend/store/history.store.ts
  packages/frontend/store/positions.store.ts
  packages/sdk/README.md
  packages/sdk/package.json
  packages/sdk/src/Sdk.ts
  packages/sdk/src/entities/AbstractCurrency.ts
  packages/sdk/src/entities/FujiError.ts
  packages/sdk/src/types/RoutingStepDetails.ts
  packages/sdk/test/Sdk.test.ts
  yarn.lock
Labels: Front End

#389 Reentrancy clears checks in router
  packages/protocol/src/abstracts/BaseRouter.sol
  packages/protocol/src/routers/ConnextRouter.sol
  packages/protocol/src/routers/SimpleRouter.sol
Labels: Smart Contracts

#410 Fix Incorrect handling of requesterCallData for Flashloan action inside _getBeneficiaryFromCalldataof the router
  packages/protocol/src/routers/ConnextRouter.sol
  packages/protocol/test/forking/goerli/ConnextRouter.t.sol
Labels: Smart Contracts

#456 Internal Testing Round 2
  packages/frontend/components/Borrow/TransactionModal.tsx
Labels: Front End

#457 Show warning in tx modal after 10 minutes
  packages/frontend/components/Borrow/TransactionModal.tsx
  packages/frontend/constants/common.ts
  packages/frontend/helpers/history.ts
  packages/frontend/store/history.store.ts
Labels: Front End

#467 Safety modal changes
  packages/frontend/components/Onboarding/SafetyNoticeModal.tsx
Labels: Front End

#465 UI tweaks
  packages/frontend/components/Borrow/Borrow.tsx
  packages/frontend/components/Borrow/Routing/RouteCard.tsx
  packages/frontend/components/Borrow/TransactionModal.tsx
  packages/frontend/components/Shared/ChainSelect.tsx
  packages/frontend/components/Shared/Header/Header.tsx
  packages/frontend/components/Shared/Lending.tsx
  packages/frontend/components/Shared/Notification.tsx
  packages/frontend/helpers/errors.ts
  packages/frontend/helpers/history.ts
  packages/frontend/helpers/navigation.ts
  packages/frontend/helpers/notifications.tsx
  packages/frontend/pages/borrow.tsx
  packages/frontend/public/assets/fonts/Inter-Medium.ttf
  packages/frontend/public/assets/fonts/Inter-Regular.ttf
  packages/frontend/public/assets/fonts/Inter-VariableFont_slnt,wght.ttf
  packages/frontend/public/assets/images/notifications/close.svg
  packages/frontend/public/assets/images/notifications/error.svg
  packages/frontend/public/assets/images/notifications/info.svg
  packages/frontend/public/assets/images/notifications/success.svg
  packages/frontend/store/auth.store.ts
  packages/frontend/store/borrow.store.ts
  packages/frontend/store/history.store.ts
  packages/frontend/styles/globals.css
  packages/frontend/styles/theme.ts
Labels: Front End

#458 Balance updating issues
  packages/frontend/helpers/history.ts
  packages/frontend/pages/_app.tsx
  packages/frontend/store/history.store.ts
Labels: Front End

#472 Tablet UI fixes
  packages/frontend/components/Borrow/Borrow.tsx
  packages/frontend/components/Borrow/Header.tsx
  packages/frontend/components/Markets/MarketsTableRow.tsx
  packages/frontend/components/Shared/Header/Header.tsx
  packages/frontend/pages/_app.tsx
  packages/frontend/public/assets/fonts/Inter-Regular.ttf
  packages/frontend/public/assets/fonts/Inter-Regular.woff2
  packages/frontend/styles/globals.css
Labels: Front End

#419 Overriding transfer handler
  packages/protocol/src/routers/ConnextHandler.sol
  packages/protocol/test/forking/goerli/ConnextRouter.t.sol
Labels: Bug, Smart Contracts

#476 Default slippage changes
  packages/frontend/components/Shared/ConfirmTransactionModal.tsx
  packages/frontend/components/Shared/SlippageSettings.tsx
  packages/frontend/components/Shared/WarningInfo.tsx
  packages/sdk/src/constants/common.ts
Labels: Front End

#471 Transaction history
  packages/frontend/components/Borrow/TransactionModal.tsx
  packages/frontend/components/Shared/AccountModal.tsx
  packages/frontend/components/Shared/Header/BalanceAddon.tsx
  packages/frontend/components/Shared/Header/Header.tsx
  packages/frontend/helpers/history.ts
  packages/frontend/helpers/transactions.ts
  packages/frontend/pages/_app.tsx
  packages/frontend/store/borrow.store.ts
  packages/frontend/store/history.store.ts
Labels: Front End

#482 Fix slippage format
  packages/frontend/components/Shared/ConfirmTransactionModal.tsx
Labels: Front End

#483 UI issues v3
  packages/frontend/components/Borrow/Box/TokenCard.tsx
  packages/frontend/components/Onboarding/SafetyNoticeModal.tsx
  packages/frontend/components/Shared/AccountModal.tsx
  packages/frontend/components/Shared/AddTokenButton.tsx
  packages/frontend/components/Shared/SlippageSettings.tsx
Labels: Front End

#486 Increase debounce interval
  packages/frontend/constants/common.ts
  packages/frontend/store/borrow.store.ts
Labels: Front End

#481 Onboarding wallets
  .github/workflows/frontend.yml
  packages/frontend/README.md
  packages/frontend/constants/common.ts
  packages/frontend/helpers/auth.ts
  packages/frontend/package.json
  packages/frontend/store/auth.store.ts
  yarn.lock
Labels: Front End

#500 Safety ratings
  packages/frontend/components/Borrow/Overview/Title.tsx
  packages/frontend/components/Borrow/Overview/VaultsMenu.tsx
  packages/frontend/components/Markets/MarketsTableRow.tsx
  packages/frontend/helpers/markets.ts
  packages/frontend/helpers/ratings.ts
  packages/sdk/src/Sdk.ts
  packages/sdk/src/constants/addresses.ts
  packages/sdk/src/entities/BorrowingVault.ts
  packages/sdk/src/functions/batchLoad.ts
Labels: Front End
