Repository Fujicracy/fuji-v2, pull requests merged in 2023-02, with the labels that each got.

#284 Update frontend assets
  packages/frontend/components/Borrow/CollateralDropdown.tsx
  packages/frontend/next.config.js
  packages/frontend/public/assets/images/logo/logo-title.svg
  packages/frontend/public/assets/images/protocol-icons/providers/0VIX.svg
  packages/frontend/public/assets/images/protocol-icons/providers/Aave V2.svg
  packages/frontend/public/assets/images/protocol-icons/providers/Aave V3.svg
  packages/frontend/public/assets/images/protocol-icons/providers/Agave.svg
  packages/frontend/public/assets/images/protocol-icons/providers/Compound V2.svg
  packages/frontend/public/assets/images/protocol-icons/providers/Compound V3.svg
  packages/frontend/public/assets/images/protocol-icons/providers/Euler.svg
  packages/frontend/public/assets/images/protocol-icons/providers/Hundred.svg
  packages/frontend/public/assets/images/protocol-icons/providers/Ironbank.svg
  packages/frontend/public/assets/images/protocol-icons/providers/Morpho.svg
  packages/frontend/public/assets/images/protocol-icons/providers/Radiant.svg
  packages/frontend/public/assets/images/protocol-icons/providers/WePiggy.svg
  packages/frontend/public/assets/images/protocol-icons/providers/dForce.svg
  packages/frontend/public/assets/images/protocol-icons/tokens/AAVE.svg
  packages/frontend/public/assets/images/protocol-icons/tokens/COMP.svg
  packages/frontend/public/assets/images/protocol-icons/tokens/DAI.svg
  packages/frontend/public/assets/images/protocol-icons/tokens/ETH.svg
  packages/frontend/public/assets/images/protocol-icons/tokens/IB.svg
  packages/frontend/public/assets/images/protocol-icons/tokens/MATIC.svg
  packages/frontend/public/assets/images/protocol-icons/tokens/SONNE.svg
  packages/frontend/public/assets/images/protocol-icons/tokens/USDC.svg
  packages/frontend/public/assets/images/protocol-icons/tokens/USDT.svg
  packages/frontend/public/assets/images/protocol-icons/tokens/WBTC.svg
  packages/frontend/public/assets/images/protocol-icons/tokens/WETH.svg
  packages/frontend/public/assets/images/protocol-icons/tokens/WFTM.svg
  packages/frontend/public/assets/images/protocol-icons/tokens/WMATIC.svg
  packages/frontend/public/assets/images/protocol-icons/tokens/WPC.svg
Labels: Front End

#278 Update readme of frontend
  packages/frontend/README.md
  packages/frontend/components/Borrow/ChainSelect.tsx
  packages/frontend/components/Borrow/CollateralDropdown.tsx
  packages/frontend/components/Borrow/LTVProgressBar.tsx
  packages/frontend/components/Borrow/Overview.tsx
  packages/frontend/components/Borrow/RouteCard.tsx
  packages/frontend/components/Borrow/RoutingModal.tsx
  packages/frontend/components/Borrow/TokenCard.tsx
  packages/frontend/components/Borrow/TransactionProcessingModal.tsx
  packages/frontend/components/Borrow/TransactionSummary.tsx
  packages/frontend/components/Markets/MarketsTable.tsx
  packages/frontend/components/Markets/MarketsTableRow.tsx
  packages/frontend/components/Shared/AccountModal.tsx
  packages/frontend/components/Shared/AddTokenButton.tsx
  packages/frontend/components/Shared/Balance.tsx
  packages/frontend/components/Shared/BurgerMenuIcon.tsx
  packages/frontend/components/Shared/ChainSelect.tsx
  packages/frontend/components/Shared/ClickableTooltip.tsx
  packages/frontend/components/Shared/Footer.tsx
  packages/frontend/components/Shared/Header.tsx
  packages/frontend/components/Shared/Icons/DiscordIcon.tsx
  packages/frontend/components/Shared/Icons/NetworkIcon.tsx
  packages/frontend/components/Shared/Icons/ProviderIcon.tsx
  packages/frontend/components/Shared/Icons/TokenIcon.tsx
  packages/frontend/components/Shared/Icons/index.ts
  packages/frontend/components/Shared/ParameterLinks.tsx
  packages/frontend/components/Shared/Parameters.tsx
  packages/frontend/components/Shared/SizableTableCell.tsx
  packages/frontend/components/Shared/Snackbar.tsx
  packages/frontend/drawio.svg
  packages/frontend/helpers/tokenService.ts
  packages/frontend/pages/_app.tsx
  packages/frontend/pages/borrow.tsx
  packages/frontend/pages/index.tsx
  packages/frontend/pages/markets.tsx
  packages/frontend/pages/my-positions.tsx
  packages/frontend/pages/theming.tsx
  packages/frontend/store/history.store.ts
Labels: Front End

#287 Update network assets
  packages/frontend/public/assets/images/protocol-icons/networks/Arbitrum.svg
  packages/frontend/public/assets/images/protocol-icons/networks/BNB Chain.svg
  packages/frontend/public/assets/images/protocol-icons/networks/Ethereum.svg
  packages/frontend/public/assets/images/protocol-icons/networks/Gnosis.svg
  packages/frontend/public/assets/images/protocol-icons/networks/Optimism.svg
  packages/frontend/public/assets/images/protocol-icons/networks/Polygon.svg
Labels: Front End

#291 ConnextHandler Suggestions
  packages/protocol/src/routers/ConnextHandler.sol
  packages/protocol/src/routers/ConnextRouter.sol
  packages/protocol/test/forking/goerli/ConnextRouter.t.sol
Labels: Smart Contracts

#285 Permissionless connext xReceive
  packages/protocol/src/abstracts/BaseRouter.sol
  packages/protocol/src/providers/optimism/BeefyVelodromesETHETH.sol
  packages/protocol/src/routers/ConnextHandler.sol
  packages/protocol/src/routers/ConnextRouter.sol
  packages/protocol/test/forking/goerli/ConnextRouter.t.sol
  packages/protocol/test/forking/optimism/BeefyVelodromesETHETH.t.sol
  packages/protocol/test/forking/polygon/SimpleRouter.t.sol
Labels: Smart Contracts

#310 Review and suggestions for Routing Modal
  packages/frontend/components/Borrow/Fees.tsx
  packages/frontend/components/Borrow/RouteCard.tsx
  packages/frontend/helpers/borrowService.ts
  packages/frontend/store/borrow.store.ts
Labels: Front End

#317 Fix approvals and vault providers
  packages/frontend/components/Borrow/ApprovalModal.tsx
  packages/frontend/components/Borrow/Borrow.tsx
  packages/frontend/components/Borrow/Overview.tsx
  packages/frontend/components/Borrow/VaultsMenu.tsx
  packages/frontend/helpers/borrow.ts
  packages/frontend/store/borrow.store.ts
Labels: Front End

#286 Routing modal
  packages/frontend/components/Borrow/ApprovalModal.tsx
  packages/frontend/components/Borrow/Borrow.tsx
  packages/frontend/components/Borrow/Fees.tsx
  packages/frontend/components/Borrow/LTVProgressBar.tsx
  packages/frontend/components/Borrow/Overview.tsx
  packages/frontend/components/Borrow/RouteCard.tsx
  packages/frontend/components/Borrow/RoutingModal.tsx
  packages/frontend/components/Borrow/TokenCard.tsx
  packages/frontend/components/Borrow/TransactionSummary.tsx
  packages/frontend/components/Borrow/VaultsMenu.tsx
  packages/frontend/components/Shared/AddTokenButton.tsx
  packages/frontend/components/Shared/Balance.tsx
  packages/frontend/components/Shared/Header.tsx
  packages/frontend/components/Shared/Icons/NetworkIcon.tsx
  packages/frontend/components/Shared/Icons/TokenIcon.tsx
  packages/frontend/components/Shared/Snackbar.tsx
  packages/frontend/constants/borrow.ts
  packages/frontend/helpers/borrow.ts
  packages/frontend/helpers/token.ts
  packages/frontend/helpers/values.ts
  packages/frontend/store/borrow.store.ts
  packages/frontend/store/models/Position.d.ts
  packages/frontend/store/snackbar.store.ts
  packages/frontend/styles/theme.ts
Labels: Front End

#292 Markets
  packages/frontend/components/Borrow/Borrow.tsx
  packages/frontend/components/Markets/Markets.tsx
  packages/frontend/components/Markets/MarketsTable.tsx
  packages/frontend/components/Markets/MarketsTableRow.tsx
  packages/frontend/components/Shared/Header.tsx
  packages/frontend/components/Shared/Icons/DiscordIcon.tsx
  packages/frontend/helpers/markets.ts
  packages/frontend/services/chains.ts
  packages/frontend/store/borrow.store.ts
  packages/sdk/src/Previews.ts
  packages/sdk/src/Sdk.ts
  packages/sdk/src/constants/lending-providers.ts
  packages/sdk/src/entities/BorrowingVault.ts
  packages/sdk/src/functions/batchLoad.ts
  packages/sdk/src/functions/index.ts
  packages/sdk/src/types/BorrowingVaultWithFinancials.ts
  packages/sdk/src/types/LendingProvider.ts
  packages/sdk/src/types/LendingProviderDetails.ts
  packages/sdk/src/types/RoutingStepDetails.ts
  packages/sdk/src/types/VaultWithFinancials.ts
  packages/sdk/src/types/index.ts
Labels: Front End, Sdk

#290 Positions summary page functional
  packages/frontend/components/Positions/MyPositions.tsx
  packages/frontend/components/Positions/PositionBorrowTable.tsx
  packages/frontend/components/Positions/PositionSummary.tsx
  packages/frontend/components/Shared/AddTokenButton.tsx
  packages/frontend/components/Shared/Icons/NetworkIcon.tsx
  packages/frontend/components/Shared/Icons/ProviderIcon.tsx
  packages/frontend/components/Shared/Icons/TokenIcon.tsx
  packages/frontend/helpers/paths.ts
  packages/frontend/helpers/positions.ts
  packages/frontend/helpers/token.ts
  packages/frontend/helpers/values.ts
  packages/frontend/pages/my-positions.tsx
  packages/frontend/store/borrow.store.ts
  packages/frontend/store/models/Position.ts
  packages/frontend/store/positions.store.ts
  packages/sdk/src/Sdk.ts
Labels: Front End
